<div ng-if="$ctrl.isVisibleMessage" class="container alert alert-success  alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" ng-click="$ctrl.isVisibleMessage = false" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Well done!</strong> {{$ctrl.message}}.
</div>

<div class="container">
  <nav aria-label="...">
    <ul class="pager">
      <li class="previous"><a ui-sref="actions"><span aria-hidden="true">&larr;</span> Back</a></li>
    </ul>
  </nav>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Function</h3>
    </div>
    <div class="panel-body">
      <form ng-submit="$ctrl.submit()">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" required class="form-control" ng-model="$ctrl.name" id="name" placeholder="Action name">
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <textarea class="form-control" ng-model="$ctrl.description" id="description"></textarea>
        </div>
        <div class="form-group">
          <label for="code">Code</label>
          <textarea class="form-control" ng-model="$ctrl.code" rows="7" id="code"></textarea>
          <div ace-editor="$ctrl.aceOptions" ng-model="$ctrl.code"></div>
        </div>
        <button type="submit" class="btn btn-primary btn-lg">Save</button>
        <button type="button" class="btn btn-warning btn-lg" ui-sref="actions">Cancel</button>
      </form>
    </div>
  </div>
</div>